* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 0 5% 0 4%;

}

.header>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header>ul>li {
    list-style-type: none;
    padding-top: 10px;
}

/* .incolearnLogo{
} */
.incolearnLogo>img {
    width: 200px;
    height: 100%;
}

.allCourses {
    border-radius: 8px;
    font-size: 20px;
    padding: 5px 5px;
}

#custom-search-input .search-query {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 3px 2px 7px 1px;
    margin-top: 5px;
    position: relative;
    left: -35px;
    color: rgb(147, 147, 147);
    font-size: 20px;
}

.search-query:focus+button {
    z-index: 5;
}

.marginRight {
    margin-right: 5%;
}

#notification span {
    font-size: 35px;
    color: rgb(147, 147, 147);
}

#login {
    font-size: 50px;
}

.gridbox {
    display: grid;
    grid-template-rows: 1fr 30px 1fr 30px 1fr 1fr 30px 250px;
    grid-template-columns: 25% 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.sideMenu {
    grid-row: 1/span6;
    grid-column: 1;
    /* grid-area: 1/1/span5/1; */
    background-color: rgb(104 224 85);



    /* padding-top: 100px; */
}

.sideMenu>ul>li {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 22px;
    margin-top: 15px;
}

.sideMenu>ul>li>a {
    text-decoration: none;
    color: black;


}

.sideMenu>ul>li>span {
    font-size: 45px;
}

.welcomeBack {
    grid-row: 1;
    grid-column: 2/5;
    /* grid-area: 1/2/1/span1; */
    border: 2px solid rgb(147, 147, 147);
    border-radius: 10px;
    margin: 20px 0 20px 0;
}

.welcomeBack>div>p {
    font-size: 18px;
    font-weight: 500;
}

.welcomeBack>div>button {
    background-color: rgb(147, 147, 147);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(147, 147, 147, 0.8);
}

.learningOverview {
    grid-area: 2/2/2/5;
    font-weight: bold;
}

.myCourse {
    grid-row: 3/3;
    grid-column: 2/2;
}

.completedCourse {
    grid-area: 3/3/3/3;
}

.certificates {
    grid-area: 3/4;
}

.learningOverviewBox {
    border: 1px solid black;
    border-radius: 10px;
    height: 180px;
    width: 100%;
    align-self: center;
    /* margin-top: 25px; */

}

.learningOverviewBox>p {
    margin-bottom: 5px;
    padding: 5px 0 2px 15px;
    font-size: 18px;
}

.learningOverviewBox>a {
    padding-left: 15px;
}

.overviewHeadings {
    background-color: rgb(147, 147, 147);
    border-radius: 10px 10px 0 0;
    color: white;
    font-weight: 500;
}

.overviewCourses {
    font-size: 23px;
    font-weight: bold;
}

.dailyProgress {
    grid-area: 4/2/4/5;
    font-weight: bold;
}

.dailyProgressbar {
    grid-row: 5/7;
    grid-column: 2/5;
    /* justify-content: space-between; */
}

.dailyProgressbarContent {
    border: 2px solid black;
    height: 100%;
    display: flex;
    align-items: center;
}

.popularCourses {
    grid-area: 7/2/7/5;
    /* background: red; */
}

.digitalMarketing {
    grid-area: 8/2/8/2;
}

.javaFullStack {
    grid-area: 8/3/8/3;
}

.dataAnalysis {
    grid-area: 8/4/8/4;
}

.popularCoursesBox {
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

.popularCoursesBox>img {
    display: block;
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

.popularCoursesBox>p {
    padding: 2% 0 0 2%;
    margin-bottom: 0;
}

.popularHead {
    font-size: 1.7vw;
    font-weight: bold;
    color: black;
}

.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: red;
    pointer-events: none;
    /* Prevent heart from interfering with image clicks */
}